@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--darck-primary);
    color: var(--tertiary-color);
    font-family: 'Space Grotesk', sans-serif;
}

ul {
    list-style: none;
}

ul li img {
    width: 24px;
    height: 24px;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
}

img {
    width: 100%;
    height: auto;
}

input, textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--tertiary-color);
}

textarea {
    font-family: 'Space Grotesk', sans-serif;
    resize: none;
}

button {
    border: none;
}