@media (max-width: 768px) {
    .header-section {
        max-width: 708px;
        padding: 29px 0;
    }

    .hero .title {
        font-size: 72px;
        max-width: 443px;
    }

    .hero .hero-description {
        margin-top: 66px;
    }

    .skills {
        margin-top: 47px;
    }

    .skills .container-skills {
        padding-top: 52px;
        max-width: 706px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 52px 7px;
    }

    .projects {
        margin-top: 100px;
    }

    .projects .container-projects {
        max-width: 706px;
    }

    .projects .content-projects h2 {
        font-size: 72px;
    }
}

@media (max-width: 375px) {
    .header-section {
        flex-direction: column;
        gap: 20px;
        max-width: 153px;
        padding: 20px 0;
    }

    .developer-name {
        font-size: 24px;
    }

    .social-media {
        gap: 25px;
    }

    ul li img {
        width: 19px;
        height: 19px;
    }

    .hero .title {
        font-size: 40px;
    }

    .hero .hero-description {
        max-width: 343px;
        text-align: center;
        font-size: 16px;
        margin-top: 24px;
        line-height: 26px;
    }

    .skills {
        margin-top: 80px;
    }

    .skills .container-skills {
        padding-top: 80px;
        max-width: 343px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px 30px;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--tertiary-color);
    }

    .skills .container-skills .skill {
        text-align: center;
    }

    .skills .skill .skill-name {
        font-size: 32px;
    }

    .skills .skill .skill-time {
        margin-top: 1px;
        font-size: 16px;
    }

    .projects {
        margin-top: 80px;
    }

    .projects .container-projects {
        max-width: 343px;
    }

    .projects .container-projects .content-projects{
        grid-template-columns: repeat(1, 1fr);
    }

    .projects .content-projects h2 {
        font-size: 40px;
    }
}