@media (max-width: 768px) {
    body {
        background-color: darksalmon;
    }

    .header-section {
        max-width: 708px;
        padding: 29px 0;
    }
}

@media (max-width: 375px) {
    body {
        background-color: brown;
    }

    .header-section {
        flex-direction: column;
        gap: 20px;
        max-width: 153px;
        padding: 20px 0;
    }

    .developer-name {
        font-size: 24px;
    }

    .social-media {
        gap: 25px;
    }

    ul li img {
        width: 19px;
        height: 19px;
    }
}