header {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    margin: auto;
    padding: 36px 0;
}

main {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    position: relative;
}

.developer-name {
    font-size: 32px;
    font-weight: 700;
    color: var(--tertiary-color);
}

.social-media {
    display: flex;
    gap: 32px;
}

.hero {
    padding-top: 91px;
}

.hero div {
    padding-left: 165px;
}

.hero .title {
    font-size: 88px;
    font-weight: 700;
    color: var(--tertiary-color);
    max-width: 750px;
}

.hero .title span {
    background-color: red;
}

.hero .hero-description {
    max-width: 445px;
    color: var(--tertiary-color);
    font-size: 18px;
    margin-top: 43px;
    line-height: 28px;
}

.hero .btn-hero{
    font-weight: 700;
    color: var(--tertiary-color);
    width: 117px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 66px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

.hero .btn-hero:active {
    color: var(--primary-color);
}

.hero .image-profile {
    width: 445px;
    height: auto;
    display: inline-block;
    position: absolute;
    top: -112px;
    right: 165px;
    z-index: -1;
}

.skills {
    margin-top: 219px;
}

.skills .container-skills {
    border-top: 1px solid var(--tertiary-color);
    margin: auto;
    padding-top: 72px;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 58px 30px;
}

.skills .skill .skill-name {
    font-size: 48px;
    font-weight: 700;
}

.skills .skill .skill-time {
    margin-top: 14px;
    font-size: 18px;
}

.projects {
    margin-top: 140px;
}

.projects .container-projects {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.projects .container-projects .content-projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects .content-projects h2 {
    font-size: 88px;
    font-weight: 700;
}

.projects .btn-project {
    font-weight: 700;
    color: var(--tertiary-color);
    width: 117px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

.projects .btn-project:active {
    color: var(--primary-color);
}

.projects .container-projects .list-projects {
    margin-top: 80px;
    display: grid;
    gap: 69px 20px;
    grid-template-columns: repeat(2, 1fr);
}

.projects .list-projects .link-project, .projects .list-projects .link-code {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.projects .image-project:hover .picture, .projects .image-project:hover .picture {
    opacity: 0.25;
}

.projects .image-project:hover .link-project, .projects .image-project:hover .link-code {
    display: block;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    color: var(--tertiary-color);
}

.projects .image-project:hover .link-project:active, .projects .image-project:hover .link-code:active {
    display: block;
    color: var(--primary-color);
}

.projects .list-projects .link-project {
    top: 130px;
}

.projects .list-projects .link-code {
    top: 224px;
}

.projects .list-projects .card-project {
    max-width: 545px;
}

.projects .card-project .image-project {
    position: relative;
}

.projects .list-projects .picture img {
    width: 100%;
    height: auto;
}

.projects .card-project .project-title {
    margin-top: 20px;
    font-size: 24px;
}

.projects .card-project .list-technologies {
    display: flex;
    gap: 18px;
    margin-top: 7px;
    color: var(--secundary-color);
}

.projects .list-technologies .technologie {
    font-size: 18px;
}

footer {
    margin-top: 139px;
    padding-top: 84px;
    background-color: var(--darck-secundary);
}

footer .container-footer {
    margin: 0 auto;
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
}

footer .container-footer .title-footer {
    font-size: 88px;
}

footer .container-footer .description-footer {
    width: 445px;
    font-size: 18px;
    line-height: 28px;
    color: var(--secundary-color);
    margin-top: 36px;
}

footer .container-footer #formulay {
    width: 445px;
    height: 327px;
}

footer .container-footer .form-control {
    height: 64px;
    margin-bottom: 11px;
}

footer .form-control input {
    height: 43px;
}

footer .form-control textarea {
    height: 107px;
}

footer .form-control #btn-form {
    display: inline-block;
    margin-top: 32px;
    background-color: var(--tertiary-color);
}

footer .form-control .error {
    width: 24px;
    height: 24px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--color-error);
    color: var(--color-error);
}

footer .form-control .error-message {
    color: var(--color-error);
    font-size: 12px;
}

footer .form-control .error, footer .form-control .error-message {
    display: none;
}