header {
    background-color: black;
    max-width: 1440px;
    margin: auto;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    margin: auto;
    padding: 36px 0;
}

.developer-name {
    font-size: 32px;
    font-weight: 700;
    color: var(--tertiary-color);
}

.social-media {
    display: flex;
    gap: 32px;
}

/* .media:hover {
    scale: 1.1;
} */