header {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    margin: auto;
    padding: 36px 0;
}

main {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    position: relative;
}

.developer-name {
    font-size: 32px;
    font-weight: 700;
    color: var(--tertiary-color);
}

.social-media {
    display: flex;
    gap: 32px;
}

.hero {
    padding-top: 91px;
}

.hero div {
    padding-left: 165px;
}

.hero .title {
    font-size: 88px;
    font-weight: 700;
    color: var(--tertiary-color);
    max-width: 750px;
}

.hero .title span {
    background-color: red;
}

.hero .hero-description {
    max-width: 445px;
    color: var(--tertiary-color);
    font-size: 18px;
    margin-top: 43px;
    line-height: 28px;
}

.hero .btn-hero{
    font-weight: 700;
    color: var(--tertiary-color);
    width: 117px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 66px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

.hero .image-profile {
    width: 445px;
    height: auto;
    display: inline-block;
    position: absolute;
    top: -112px;
    right: 165px;
    z-index: -1;
}

.skills {
    /* background-color: darkgray; */
    margin-top: 65px;
}

.skills .container-skills {
    border-top: 1px solid var(--tertiary-color);
    /* background-color: darkblue; */
    margin: auto;
    padding-top: 72px;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 58px 30px;
    /* align-content: center; */
}

/* .skills .container-skills .skill {
    background-color: brown;
    border: 1px solid red;
} */

.skills .skill .skill-name {
    /* background-color: rebeccapurple; */
    font-size: 48px;
    font-weight: 700;
}

.skills .skill .skill-time {
    /* background-color: aqua; */
    margin-top: 14px;
    font-size: 18px;
}